* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  padding: 20px;
}
header > h1 {
  text-align: center;
  font-family: sans-serif;
}
.score-board {
  text-align: center;
  margin: 20px auto;
  border: 3px solid black;
  width: 200px;
  border-radius: 5px;
  padding: 15px 20px;
}
#user-label {
  font-style: italic;
  font-family: sans-serif;
  background-color: cornflowerblue;
  color: aliceblue;
}
#computer-label {
  font-style: italic;
  font-family: sans-serif;
  background-color: cornflowerblue;
  color: aliceblue;
}
.results {
  font-size: 40px;
}
.results > p {
  text-align: center;
}
.p {
  width: 120px;
  height: 100px;
}
.r {
  width: 120px;
  height: 100px;
}
.s {
  width: 120px;
  height: 100px;
}
input {
  width: 120px;
  height: 100px;
}
body {
  background-color: aliceblue;
}
.github {
  width: 75px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.github:hover {
  cursor: pointer;
}
#choices {
  text-align: center;
  margin: 50px auto;
  border: 2px solid rgb(0, 0, 0);
  width: 800px;
  height: 200px;
  border-radius: 20px;
  box-sizing: border-box;
}
.choice {
  display: inline-block;
  padding: 50px;
  margin: 0 20px;
}
#action-message {
  text-align: center;
  font-style: bold;
  font-family: sans-serif;
  font-size: 20px;
}
#user-label {
  float: left;
}
#computer-label {
  float: right;
}
.choice:hover {
  cursor: pointer;
  transform: scale(1.2);
}
