* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  padding: 20px;
}
header > h1 {
  text-align: center;
  font-family: sans-serif;
}
.score-board {
  text-align: center;
  margin: 20px auto;
  border: 3px solid black;
  width: 200px;
  border-radius: 5px;
  padding: 15px 20px;
}
#user-label {
  font-style: italic;
  font-family: sans-serif;
}
#computer-label {
  font-style: italic;
  font-family: sans-serif;
}
.results {
  font-size: 40px;
}
.results > p {
  text-align: center;
}
.p {
  width: 120px;
  height: 100px;
}
.r {
  width: 120px;
  height: 100px;
}
.s {
  width: 120px;
  height: 100px;
}
#choices {
  text-align: center;
  margin: 20px auto;
}
.choice {
  display: inline-block;
}
#user-label {
  float: left;
}
#computer-label {
  float: right;
}
